@import "../../../scss/settings/colors";
@import "../../../scss/settings/fonts";

.organization{
  color: $altFontColor;
  h3{

  }
}

.border{
  color: $altFontColor;
  h3{

  }
}

.organizations{
  display: flex;
  flex-direction: column;
  align-items: center;

  h2{
    margin-top: 40px;
    font-size: 1.5rem;
  }

  ul.organization_choice{
    display: flex;
    width: 600px;
    justify-content: space-between;
    padding-left: 0;
    li{
      button{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: $altFontColor;
        height: 60px;
        width: 150px;
        padding: 10px;
        background: none;
      }
      button.active{
        border: 1px solid $altFontColor;
      }
    }
  }
  p{
    color: $altFontColor;
    width: 400px;
    margin: 30px 0;
    text-align: center;
  }
  div.organizations-details{
    display: flex;
    flex-direction: column;
    height: 240px;
    width: 800px;
    div.organization {
      font-family: $font-alt;
      border-top: 1px solid $altFontColor;
      &:first-of-type{
        border:none
      }
      width: 100%;
      height: 80px;
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      h3{
        font-size: 1.3rem;
        font-weight: normal;
      }
      span{
        font-size: 0.8rem;
      }
      span.description{
        font-style: italic;
      }
    }
  }
  .pageBttns{
    height: 50px;
    button{
      background: none;
      padding: 10px;
      color: $altFontColor;
      margin: 0 10px;
    }
    button.active{
      border: 1px solid $altFontColor;
    }
  }
}