@import "../../../scss/settings/colors";
.top-block-bttns{
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2{
    margin: 5px;
    font-size: 1.3rem;
    font-weight: normal;
  }

  div.bttns{
    display: flex;
  }
}