@import "../../scss/settings/colors";
.top-block{
  height: 500px;
  .left-side-container{
    display: inline-block;
    width: 50%;
    background-image: url("../../assets/Home-Hero-Image.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    height: inherit;
  }
  .right-side-container{
    display: inline-block;
    width: 50%;
    height: inherit;

  }
}

a.white-bttn{
  color: $altFontColor;
  text-align: center;
  font-size: 1.3rem;
  padding: 5px;
  border: 1px solid $altFontColor;
  width: 150px;
  margin: 10px;
}