@import "../../scss/settings/colors";
div.login, div.register, div.logout{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2{
    font-size: 1.7rem;
    font-weight: normal;
    text-align: center;
  }
  .to-main-page{
    margin-top: 30px;
    background: none;
    color: $altFontColor;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border: 1px solid $altFontColor;
  }
  form{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .form-fields{
      padding: 20px 50px 10px 50px;
      width:350px;
      display: flex;
      flex-direction: column;
      background-color: $greyBg;
      align-items: center;

      input{
        width:100%;
        color: $altFontColor;
        background-color: inherit;
      }
      span{
        display: block;
        font-size: 0.7rem;
        color: red;
        border-top: 1px solid red;
        width: 100%;
        background-color: inherit;
        height: 2rem;
      }
      span.correct{
        width:100%;
        border-top: 1px solid $altFontColor;
      }




    }
    .form-buttons{
      margin-top: 30px;
      width: 450px;
      display: flex;
      justify-content: space-between;
      *{
        background: none;
        color: $altFontColor;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 50px;
      }
      input{
        border: 1px solid $altFontColor;
      }

    }
  }
}