@import "settings/fonts";
@import "settings/colors";
@import "settings/reset";
body{
  font-family: $font-base;
  color: $mainFontColor;
  .container{
    width: 100%;
  }
  .flex{
    display: flex;
    justify-content: space-between;
  }
  .flex-col-right-top{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

  }
  .flex-col-right-top__header{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 50px;
  }

  div.decoration{
    width:200px;
    height: 30px;
    background-image: url("../assets/Decoration.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 20px;
  }
}