@import "settings/fonts";
@import "settings/colors";
@import "settings/reset";
body{
  font-family: $font-base;
  color: $mainFontColor;
  .container{
    width: 100%;
  }
  .flex{
    display: flex;
    justify-content: space-between;
  }
  .flex-col-right-top{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

  }
}